@charset 'utf-8';
// import scss here
@import 'board.scss';
@import 'content.scss';
@import 'offset.scss';
@import 'header.scss';
@import 'login.scss';
// global css config
@import 'reset.scss';

// ./home

.home-wrapper{
    text-align: center;
}

// ./info 建议改名为main

.client {
    height: 100vh;
    display: flex;
    .left {
        flex: 0 0 200px;
        display: flex;
        flex-flow: column nowrap;
    }
    .right {
        flex: 1;
        min-width: 750px;
        display: flex;
        flex-flow: column nowrap;
        .right-top {}
        .right-bottom {
            display: flex;
            flex: 1;
            .content {
                flex: 1;
                color: #ccc;
                background: #464545;
            }
        }
    }
}
